* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: #999999;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.formulario{
  width: 100%;
  box-shadow: inset;
}
