* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: rgb(216, 21, 21);
  background-color: rgb(72, 41, 182);
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
